@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spinnaker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300&display=swap');
:root{
    --header: #FFA400;
    --h_shadow: #DB3A34;
    --left_bg: #374A67;
    --right_bg: #ACB0BD;
}
body{
    background: var(--header);
    font-family: 'Mulish', sans-serif;
    width: 100%;
    height: 100%;
    padding:0;
    margin:0;
    font-size: medium;
}
html{
    width: 100%;
    height: 100%;
    padding:0;
    margin:0;
}

#website-title{
    text-align: center;
    font-family: 'Spinnaker', sans-serif;
    text-transform: uppercase;
    text-shadow: 0.08em 0.08em var(--h_shadow);
    font-size: 2.5em;
}

.course-field{
    padding-top :  1px;
}
.contents{
    display:flex;
    flex-flow: column;
    height: 100%;
}
.contents #website-title{
    flex: 0 1 auto;
}
.contents .coursesect{
    flex: 1 1 auto;
    display: flex;
    height: 100%;
    background-color: grey;
}
footer{
    width: 100%;
    flex-shrink: 0;
    height: 40px;
    font-size: small;
    text-align: center;
}
/**LEFT CONTENTS**/
.left{
    background-color: var(--left_bg);
    width: 40%;
    overflow-y: auto;
}
.left .addedcourses{
  margin-bottom: 3%;
}
.left table,.left th,.left td{
    border-collapse:collapse;
    border-style: hidden;
    padding: .5em;
    font-size: .9em;
}
.left th {
  background-color: var(--h_shadow);
  color: white;
}
.left tr:nth-child(even) {background-color: #f2f2f2;}
.left tr:nth-child(odd) {background-color: #ffffff;}
.left th, .left td{border: 1px solid black;}
.left .addedcourses td:nth-child(2):hover {background-color: red;cursor:pointer;}
.left .add-course{
  width: 60%;
  height: 40%;
  color: red;
  background-color: whitesmoke;
  padding: 5px;
  display: block;
  align-content: space-around;
}
.left .add-course input{
  display:flex;
  font-size: 1em;
  border-radius: 5px;
  padding: 12px 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.left .add-course .year{
  width: 100px;
}
.left .add-course .department{
  width: 100px;
}
.left .add-course .coursenumber{
  width: 100px;
}
.left .add-course .time{
  width: 75px;
}
.left .add-course input:focus{
  border-color: var(--h_shadow);
  outline: none;
}
.left .add-course select{
  border-radius: 5px;
  font-size: 1em;
}
.left .add-course select:focus{
  border-color: var(--h_shadow);
  outline: none;
}

/**RIGHT CONTENTS**/
.right{
    background-color: var(--right_bg);
    float:right;
    width: 60%;
    display:flex;
    flex-flow: column;
    flex: 1 1 auto;
    height: 100%;
}

.main-title{
    font-style: bold;
    font-size: xx-large;
    text-align: center;
    margin-bottom: 0.5em;
}
.right table,.right th,.right td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
}
.right .nestedrow {
  background-color: green;
  display:flex;
  flex-flow: column;
  flex: 1;
  min-height: 0;
  overflow: hidden;
}
.right .fixedTable{ /**REPLACE WITH DIV BECAUSE FUCK TABLES APPARENTLY*/
  background-color:red;
  overflow-y: auto;
  height: 200px;
}
.fixedTable thead th {
  position: sticky;
  top: 0;
}
.right table {
  border-collapse: collapse;
  width: 100%;
  left: 0;
  top: 0;
  table-layout: fixed;
}
.right th {
  background: #eee;
}