@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spinnaker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300&display=swap');
:root{
    --header: #42A6DB;
    --left_bg: #0E1116;
    --right_bg: #ACB0BD;
    --hue:  #22262F;
    --h_shadow: #00688B;
	--accent: #00ffff;
}
body{
    background: var(--header);
    font-family: 'Mulish', sans-serif;
    width: 100%;
    height: 100%;
    padding:0;
    margin:0;
}
html{
    width: 100%;
    height: 100%;
    padding:0;
    margin:0;
}

#website-title{
    text-align: center;
    font-family: 'Spinnaker', sans-serif;
    text-transform: uppercase;
    text-shadow: 0.08em 0.08em var(--h_shadow);
}

.course-field{
    padding-top :  1px;
}
.contents{
    display:flex;
    flex-flow: column;
    height: 100%;
}
.contents #website-title{
    flex: 0 1 auto;
}
.contents .coursesect{
    flex: 1 1 auto;
    display: flex;
    height: 100%;
}
footer{
    width: 100%;
    flex-shrink: 0;
    height: 40px;
	font-size: .7em;
    text-align: center;
}
/**LEFT CONTENTS**/
.left{
    background-color: var(--left_bg);
    width: 40%;
    overflow-y: auto;
    color: white;
}
/**ADDED COURSES**/
.left .addedcourses{
  margin-bottom: 3%;
  display:inline-block;
  width: 30%;
  height: 30%;
  border-radius: 5px;
  border: 2px solid var(--header);
}
.left .addedcourses .course{
    width: 100%;
    height: 2em;
    float:left;
    background-color:  var(--hue);
    border-collapse:collapse;
    font-weight: bold;
}
.left .addedcourses .course .name{
    float:left;
    margin-top: .3em;
    margin-left: .2em;
    font-size: .9vw;
}

.left .addedcourses .course:nth-child(even) {background-color: var(--hue);}
.left .addedcourses .course:nth-child(odd) {border-bottom: 1px solid white;}
.left .addedcourses .course button:hover{background-color: red;cursor:pointer;outline:none}
.left .addedcourses .course button:focus{outline:none}
.left .addedcourses .course button{
    color: white;
    float: right;
    border: none;
    height: 100%;
    width: 1.5vw;
    font-size: .8vw;
    border-left: 1px solid white;
    background-color: var(--left_bg);
}
/****/
.left .add-course{
  height: 40%;
  border-radius: 5px;
  border: 2px solid var(--header);
  background-color: var(--hue);
  padding: 5px;
  display: flex;
  justify-content: left;
  flex-flow: row wrap;
}
.left .add-course div{
    margin:.5em;
}
.left .add-course label{
    margin-top:.5em;
    margin-right: .5em;
}
.left .add-course input{
  border-radius: 5px;
  padding: 12px 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.left .add-course .qy{
	display:inline-flex;
	justify-content: center;
    flex-grow: 1;
}
.left .add-course .quarter input{
    width: 60%;
}
.left .add-course .year input{
	width: 40%;
}
.left .add-course .department{
    display:inline-flex;
    flex-grow:1;
}
.left .add-course .department input{
    width: 60%;
}
.left .add-course .coursenumber{
    display:inline-flex;
    flex-grow: 2;
}
.left .add-course .coursenumber input{
    width: 40%;
}
.left .add-course .time{
    display:inline-flex;
    flex-grow: 1;
}
.left .add-course .time input{
  width: 35%;
}
.left .add-course input:focus{
  border-color: var(--h_shadow);
  outline: none;
}
.left .add-course select{
  border-radius: 5px;
}
.left .add-course select:focus{
  border-color: var(--h_shadow);
  outline: none;
}
.left .submit{
    border-radius: 5px;
    border: 2px solid var(--accent);
    background-color: var(--hue);
    color: white;
    padding: 5px;
    margin-top: 3%;
    cursor: pointer;
	margin-bottom: 3%;
}
.left .submit:hover{background-color: red;}
.left .submit:focus{outline: none;}.left .submit:focus{outline: none;}


.left .gen{
	border: 2px solid #FFD700;
	font-size: 2em;
}
/**RIGHT CONTENTS**/
.right{
    background-color: var(--right_bg);
    float:right;
    width: 60%;
    display:flex;
    flex-flow: column;
    flex: 1 1 auto;
    height: 100%;
}
.right .navigation{
	width: 100%;
	background-color: var(--h_shadow);
	display: inline-flex;
}
.right .navigation button{
	padding: 2em;
	font-weight: bold;
	border: none;
	background-color: #ffffff;
	cursor: pointer;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.right .navigation button:focus{
	outline:none;
	background-color: #ddd;
}
.right .tab{
	display:flex;
	flex-flow: column;
	flex: 1;
	height: 100%;
	height: 0;
}

.right #Filter table,.right #Filter th,.right #filter td{
    border-collapse:collapse;
    border-style: hidden;
    white-space:nowrap
}
.right #Filter td{
    padding: 5px;
}
.right #Filter table{
	width: 60%;
}
.right #Filter th {
  background-color: var(--h_shadow);
  color: white;
}
.right #Filter tr:nth-child(even) {background-color: #f2f2f2;}
.right #Filter tr:nth-child(odd) {background-color: #ffffff;}
.right #Filter th, .left td{border: 1px solid black;}
.right #Filter .addedcourses td:nth-child(2):hover {background-color: red;cursor:pointer;}



.main-title{
    font-style: bold;
    text-align: center;
    margin-bottom: 0.5em;
}
.right .nestedrow {
  display:flex;
  flex-flow: column;
  flex: 1;
  height: 0;
}
.right #Timetable table,.right #Timetable th,.right #Timetable td{
    border-right: 1px solid black;
    border-bottom: 1px dashed black;
    table-layout:fixed;
    width: 100%;
}
.right #Timetable th{
    position: sticky;
    top: 0;
    background-color: var(--h_shadow);
    border-collapse: separate;
    padding: 15px;
    color: white;

}
.right #Timetable table{
    width: 100%;
    border-collapse:collapse;
}
.right #Timetable td{
    color: black;
	height: .7em;
}
.right #Timetable td:nth-child(1){
    width: 10%;
	font-weight: bold;
	font-size: .7em;
}
.right #Timetable td:nth-child(n+2){
    width: 18%;
}
.right .fixedTable{
  background-color:#efefef;
  overflow: auto;
  max-height: 100%;
}
.right .fixedTable .courseslot{
    background-color:#FF9999;
}
.right .mod{
	vertical-align: top;
	background-color: #BEF2F1;
}

#color1{
    background-color:#ffe66d;
}
#color2{
    background-color:#FFBF00;
}
#color3{
    background-color:#FF7F50;
}
#color4{
    background-color: #ff70a6;
}
#color5{
    background-color: #9FE2BF;
}
#color6{
    background-color:#40E0D0;
}
#color7{
    background-color: #6495ED;
}
#color8{
    background-color: #CCCCFF;
}